body {
    background-color: #ffffff;
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 20px;
}

.tarjeta {
    background-color: #ffffff;
    max-width: 800px;
    margin: 0 auto;
    border-radius: 12px;
    box-shadow: 0 4px 12px;
    padding-bottom: 20px;
}

.titulo {
    background-color: #333;
    color: white;
    margin: 0;
    padding: 20px;
    border-top-left-radius: 12px;
    border-top-right-radius: 12px;
}

.ingredientes, .preparacion {
    padding: 20px;
}

@media (min-width: 700px) {

    .receta {
        display: flex;
        gap: 20px;
        padding: 20px;
    }

    .ingredientes {
        flex: 1;
        background-color: #f9f9f9;
        border-radius: 8px;
    }

    .preparacion {
        flex: 2;
    }
}
